/*-------  ここから共通のCSS（変更不要）  --------*/
body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}



h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*-------  ここまで共通のCSS（変更不要） --------*/

/*------- ここからCSSを書き始めてください --------*/

.container{
  
  width:1170px;
  padding-right:15px;
  padding-left:15px;
  margin:0 auto;
}

.header{
  margin:0 auto;
 height:50px;
 box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
 width:100%;
 position:fixed;
 background-color:white;
 padding-top:10px;
}

.header-left{
  float:left;
}

.header-logo{
  color:#777;
  font-size:18px;
  font-family:'Dosis',sans-serif;
  font-weight:700;
  font-size:22px;
  padding-top:10px;
  padding-left:50px;
}

.header-left h1:hover{
  color:#0DC0C0;
}


.header-right{
 float:right;
 padding-right:60px;
}

.header-right-menu li{
color:#323A45;  
float:left;
font-weight:bold;
padding-right:20px;
padding-top:10px;
}

.header-right-menu li:hover{
  color:#0DC0C0;
}


.top-wrapper{
  background-image:url(https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/top.jpg);
  background-size:cover;
  margin:0 auto;
  text-align:center;
  color:#fff;

}

.top-wrapper-cover{
   background-color:rgba(0,0,0,0.6);
   padding:200px 0 140px 0;
}



.top-wrapper h1{
  font-size: 48px;
  line-height:54px;
  font-weight:400;
  color:#f3f3f3;
  margin:10px 0 30px 0;
  font-family:'Dosis',sans-serif;
}

.top-wrapper h2{
 color:rgba(255, 255, 255, 0.8);
 font-size:18px;
 line-height:30px;
 padding-bottom:20px;
}


.login{
  background-color:rgba(250, 250, 250, 0.06);
  border:1px solid rgba(255,255,255,0.2);
  color:rgba(255,255,255,0.9);
  border-radius:10px; 
}  

.btn{
  display:inline-block;
  font-weight:600;
  padding:10px 20px;
  margin:20px;
  font-family:'Dosis',sans-serif;
  font-size:18px;
}


.login:hover{
  background: rgba(250, 250, 250, 0.05);
  cursor:pointer;
  border:1px solid rgba(255,255,255,0.8);
  
}


.top-message{
  display:none;
}


.lesson-wrapper{
  text-align:center;
}

.lesson-title{
  color:#555;
  text-align:center;
  padding-top:60px;
  padding-bottom:10px;
}

.lesson-title h3{
  font-size:32px;
  margin:0 auto;
  font-weight:300;
  line-height:36px;
}


.lesson-item{
  display:inline-block;
  width:38%;
  vertical-align:top;
  text-align:center;
  margin-top:30px;
  height:300px;

}

.lesson-item h4{
color:#444;
}

.lesson-item p{
  color:#888;
}



.text-contents{
  height: 80px;
  display: none;
}

.feature-top{
  text-align:center;
  background-color:#f4f4f4;
  margin-top:90px;
  height:360px;
}

.feature-top h6{
  font-size:32px;
  padding-top:56px;
  color:#555;
}

.feature-contents-wrapper{
  margin-top:100px;
}

.feature-contents{
  width:40%;
  display:inline-block;
  vertical-align:top;
  padding-left:65px;
  margin-bottom:60px;
}

.feature-contents h5{
  color:#444;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:400;
}

.course-section{
  padding-bottom:50px;
}

.gray-section{
  background-color:#f4f4f4;
  color:#888;
}

.section-title{
  text-align:center;
  color:#555;
  font-size:30px;
  padding-top:46px;
}

.course-item{
  background-color:#ffffff;
  width:28%;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  font-family: 'Dosis', sans-serif;
  padding:25px 15px 40px 15px;
    margin:20px 13px 50px;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.course-item h2{
  
      background: #323A45;
      color:#fff;
      font-size:32px;
      padding:30px 0;
      margin-bottom:0;
}

.course-item h3{
  color:#555;
  background:#f0f0f0;
  margin-bottom:0;
  margin-top:0;
  padding:40px 0;
  font-size:30px;
}

.course-item-green h2{
  background:#0DC0C0;
}

ul{
  margin-top:30px;
  
}

.course-item li:first-child{
  border-top:none;
}


.course-item li{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  font-weight:400;
  color:#888;
  border-top:1px solid #eee;
  padding:18px;
}

li{
  list-style:none;
  margin:0;
}

.btn-signin{
  background:#2d323a;
  color: #c9d1d6;
  border:1px solid #24282e;
}

.btn{
  display:inline-block;
  padding:10px 20px;
  margin:20px;
  font-weight:600;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  cursor:pointer;
  transition:all .3s;
}

/*なぜbtnとbtn-signinでコマンドをわけるのか？
→*/
.mentor-title{
  color:#555;
  padding-top:60px;
  padding-bottom:10px;
  text-align:center;
}

.mentor-title h4{
  font-size:32px;
  margin:0 auto;
  font-weight:300;
  line-height:36px;
  padding-bottom:24px;
  padding-top:20px;
}

.mentor-each{
  text-align:center;
  padding-bottom:50px;
  width: 100%;
}



.mentor-each img{
  border-radius:50%;
  height:200px;
  text-align:center;
  width:200px;
  margin: 0 auto;
}

.mentor-each h1{
  color:#888;
  font-size:18px;
  padding-left:100px;
  padding-right:100px;
  padding-top:20px;
  
}

.mentor-each h2{
  color:#888;
  font-size:16px;
}


.bottom-wrapper{
  background-image:url(https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/night_view.jpg);
  text-align:center;
  color:#ffffff;
 background-size:cover;
}

.bottom-wrapper h1{
  line-height:40px;
  font-size:22px;
  color:#ffffff;
  font-weight:400;
  margin-top:10px;
  margin-bottom:10px;
}



.bottom-wrapper-inner{
  padding:140px 0;
  background-color:rgba(0,0,0,0.6);
}

.columns-section{
  text-align:center;
  padding-bottom:30px;
}

.gray-section{
  background-color:#f4f4f4;
  color:#888;
  
}

.section-title{
  color:#555;    
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.filters-wrapper{
  margin-bottom:40px;
}

.filter-item-active{
  background:#009ca8;
  color:#fff;
  cursor:default;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    margin: 10px 5px 0 0;
    padding: 8px 16px;
    display: inline-block;
    transition: all .3s;
    font-weight:600;
}

.filter-item{
  display:inline-block;
      font-family: "Dosis", sans-serif;
      font-weight:600;
    font-size: 16px;
    margin: 10px 5px 0 0;
    padding: 8px 16px;
    display: inline-block;
    transition: all .3s;
    background-color:#ffffff;
   color:#323A45;
   
}

.filter-item:hover{
  background:#009ca8;
  color:#fff;
}

.column-box {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin: 0 15px 30px;
    padding: 7px 7px 27px;
}

.column-change{
    width:120%;
    background-color: rgba(0,0,0,0.8);
}

.column-box img {
    width: 100%;
}




a {
    text-decoration: none;
    color: #323A45;
    transition: all .3s;
}

.column-title {
    display: block;
    margin-top: 17px;
    color: #444;
    font-size: 17px;
    font-weight: 600;
}

.column-box h2{
  font-size:14px;
  margin:0;
  padding:0;
}

.btn-pricing {
    background: #2d323a;
    border: 1px solid #24282e;
    color: #c9d1d6;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
}

.contact-section-wrapper{
 background:url(https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/contact.jpg);
 background-size:cover;
color:#fff;  
}

.contact-section{
  background-color:rgba(0,0,0,0.6);
  padding-bottom:70px;
}

.contact-title{
  text-align:center;
  padding-top:60px;
  padding-bottom:10px;
  font-size:34px;
}

.contact-left{
 display:inline-block;
 width:58%;
 vertical-align:top;
}

.contact-left h1{
  font-size:22px;
  padding-top:10px;
  font-weight:500;
  margin-bottom:15px;
}



.contact-right{
display:inline-block;
width:40%;  
vertical-align:top;
}

.contact-right h3{
  font-size:22px;
  padding-bottom:10px;
}

.contact-right h4{
  font-size:22px;
  color:#fff;
  padding-bottom:10px;
}

.contact-right p{
  margin:0 0 24px;
  line-height:24px;
}

.contact-right li{
  margin-bottom:15px;
}

.btn-submit{
  display:inline-block;
  background-color:#0dc0c0;
  border:1px solid #09b1b9;
  font-family:"Dosis",sans-serif;
  font-size:18px;
  font-weight:600px;
  color:#ffffff;
  box-shadow:inset 0 1px 0 #0fc8c8;
  text-shadow:0 1px 0 rgba(0,0,0,0.1);
  transition:all .3s;
  margin:10px 0;
  padding:15px 35px;
}

.contact-right{
    margin: 0 0 24px;
    line-height: 24px;
}

.contact-right i{
  padding-right:15px;
 font-size:15px;
  }

.fa{
  display:inline-block;
}


.btn{display:inline-block;}

form{
  display:block;
  margin:0;
  padding:0;
}

input[type="text"],textarea{
 margin:0;
 background:rgba(250,250,250,0.08);
 border:none;
 vertical-align:middle;
 width:85%;
 color:white;
 font-family: 'Open Sans', sans-serif;
 font-size:16px;
 font-weight:300;
 border-radius:0;
 box-shadow:none;
 transition:all .3s;
 margin-bottom:20px;
 padding:15px;
  
}

textarea{
      margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: rgba(250, 250, 250, 0.08);
    border: none;
    width: 85%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    transition: all .3s;
    margin-bottom: 20px;
    padding: 15px;
    height:150px;
}


.social-contents{
  text-align:center;
  padding-bottom:50px;
}

.social-top{
  color:#555;
  padding-top:60px;
  padding-bottom:10px;
}

.social-top h1{
  font-weight:300;
  font-size:32px;
}




.social-item{
  text-align: center;
    font-size: 36px;
    line-height: 76px;
    color: #323A45;
    padding: 5px;
    transition: all .3s;
    margin-bottom:50px;  
  
}

.fa-facebook{
  margin-right:12px;
}

footer{
  text-align:center;
  background:#222;
  padding:39px 0 36px;
  color:#999;
}


  